<!-- add_medicine.html -->
<link rel="stylesheet" href="{{ url_for('static', filename='add_medicine.css') }}">
{% extends "base.html" %}


{% block title %}Add Medicine - Medicine Tracker{% endblock %}

{% block content %}
<h1>Add Medicine</h1>

<form class="form-inline" method="POST" action="{{ url_for('add_medicine') }}">
    <input type="hidden" name="csrf_token" value = "{{ csrf_token() }}" />
    <div class="form-group">
        <label for="tablet_color">Tablet Color:</label>
        <select name="tablet_color" id="tablet_color" required>
            {% for tablet_color in tablet_colors %}
            <option value={{tablet_color}}>{{tablet_color}}</option>
            {%else%}
            <option value="none" disabled>None</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="liquid_color">Liquid Color:</label>
        <select name="liquid_color" id="liquid_color" required>
            {% for liquid_color in liquid_colors %}
            <option value={{liquid_color}}>{{liquid_color}}</option>
            {%else%}
            <option value="none" disabled>None</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label style="margin-right:15px;" for="date_taken">Date:</label>
        <input style="margin-left:25px;" type="date" class="form-control" id="date_taken" name="date_taken">
    </div>
    <div class="form-group">
        <button id="add_medicine" type="submit">Add Medicine</button>
    </div>
  </form>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
        var today = new Date().toISOString().split('T')[0];
        document.getElementById('date_taken').value = today;
    });
</script>
{% endblock %}