<!-- base.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Medicine Tracker{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header>
        <nav>
            {% if current_user.is_authenticated %}
            <div class="nav-container">
                <div class="nav-username">Welcome, {{ current_user.username|capitalize}}</div>
            <div class="nav-list">
                <ul>
                    <li style="border-bottom: none;">
                        <a class="float_right" href="{{ url_for('index') }}"> Home</a>
                    </li>
                </ul>
                <ul>
                    <li style="border-bottom: none;">
                        <a class="float_right" href="{{ url_for('add_medicine') }}">Add Medicine </a>
                    </li>
                </ul>
                <ul>
                    <li style="border-bottom: none;">
                        <a class="float_right" href="{{ url_for('logout') }}">Logout</a>
                    </li>
                </ul>
            </div>
            </div>
    
            {% else %}
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('register') }}">Register</a>
            {% endif %}
        </nav>
    </header>
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <ul class="flashes">
            {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </div>
</body>

</html>